.container {
  font-family: Rajdhani, sans-serif;
  align-items: center;
  font-weight: 600;
  color: var(--title);
  & > div {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-evenly;
    background: var(--white);
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.07);
    border-radius: 5px;
    font-size: 8.5rem;
    text-align: center;
    span {
      flex: 1;
      &:first-child {
        border-right: 1px solid #f8f1f3;
      }
      &:last-child {
        border-left: 1px solid #f8f1f3;
      }
    }
  }
  & > span {
    font-size: 6.25rem;
    margin: 0 0.25rem;
  }
}

.countdownButton {
  width: 100%;
  height: 5rem;
  margin-top: 2rem;
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: 5px;
  background-color: var(--blue);
  color: var(--white);
  font-size: 1.25rem;
  font-weight: 600;
  transition: background-color 275ms ease-in-out;
  &:not(:disabled):hover {
    background: var(--blue-dark);
  }
  &:disabled {
    cursor: not-allowed;
    background-color: rgba(0, 0, 0, 0.07);
    color: var(--title);
  }
}

.countdownButtonActived {
  background: var(--white);
  color: var(--title);
  &:not(:disabled):hover {
    background: var(--red);
    color: var(--white);
  }
}
