.container {
  height: 100vh;
  max-width: 992px;
  margin: 0 auto;
  padding: 2.5rem 2rem;
  section {
    flex: 1;
    display: grid; //important
    grid-template-columns: 1fr 1fr;
    gap: 6.25rem; //100px
    align-content: center;
  }
}
